{% extends 'template/base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container">
    <div class="row text-center mb-2 mt-2">
        <h3>Post {{ post.id }}</h3>
    </div>
    <div class="mb-3">
        <div class="mb-2 text-center">
            <img src="{{ url_for('static', filename='img/post/' + post.image) }}" alt="{{ post.image}}">
        </div>
        <div class="mb-2">
            <textarea class="form-control resize" readonly disabled>{{ post.text}}</textarea>
        </div>
    </div>

    <div class="mb-3 text-end">
        <button class="btn btn-sm btn-primary"
            onclick="comentar({{ post.id }}, {{ current_user.id }})">Comentar</button>
    </div>

    <div class="mb-3">
        {% for comment in post.comments %}
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ comment.user.name }}</h5>
                <textarea class="form-control resize" readonly disabled>{{ comment.text }}</textarea>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}